name: Deploy

on:
    push:
        branches: [ main ]

concurrency:
    group: deploy
    cancel-in-progress: true

env:
    REGISTRY: ghcr.io

jobs:
    test:
        uses: ./.github/workflows/test.yml
    docker:
        needs: test
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6
            -   name: Set up Docker Buildx
                uses: docker/setup-buildx-action@v3
            -   name: Login to Docker registry
                uses: docker/login-action@v3
                with:
                    registry: ${{ env.REGISTRY }}
                    username: ${{ github.actor }}
                    password: ${{ secrets.GITHUB_TOKEN }}
            -   name: Set image name
                # Periods are not allowed in the Docker image name; replace any with a hyphen.
                run: echo "IMAGE_NAME=${GITHUB_REPOSITORY//./-}" >> $GITHUB_ENV
            -   name: Extract Docker metadata
                id: meta
                uses: docker/metadata-action@v5
                with:
                    images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                    tags: type=raw,value=latest,enable={{is_default_branch}}
            -   name: Build and push
                uses: docker/build-push-action@v6
                with:
                    context: .
                    file: ./src/DiscordTranslationBot/Dockerfile
                    push: true
                    tags: ${{ steps.meta.outputs.tags }}
                    labels: ${{ steps.meta.outputs.labels }}
                    cache-from: type=gha,scope=deploy
                    cache-to: type=gha,mode=max,scope=deploy
                    github-token: ${{ secrets.GITHUB_TOKEN }}
    deploy:
        needs: docker
        runs-on: ubuntu-latest
        steps:
            -   name: Trigger deployment webhook
                uses: distributhor/workflow-webhook@v3
                with:
                    webhook_url: ${{ secrets.WEBHOOK_URL }}
                    webhook_secret: ${{ secrets.WEBHOOK_SECRET }}
