name: Test

on:
    workflow_call:

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout
                uses: actions/checkout@v6
            -   name: Set up .NET Core SDK
                uses: actions/setup-dotnet@v5
                with:
                    dotnet-version: '10.x'
            -   name: Test
                run: dotnet test -c Release
